:root{
    --cor-primaria: #032b44;
    --cor-secundaria: #c01e1e;
    --cor-terciaria: #9e9c9c;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #032b44;
}
header{
    background-color: #c01e1e;
    color: #ffffff25;
    padding: 1em;
    text-align: center;
}
nav{
    background-color: #9e9c9c;
    padding: 1em;
    text-align: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav li{
    margin-right: 20px;
    transition: transform 0.2s ease-in-out;
}
nav li :hover {
    transform: scale(1.1);
}
nav a{
    color: #ffffff;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0 auto;
    max-width: 90%;
}
section{
    background-color: #032b44;
    padding: 2em;
    margin-bottom: 20px;
    border: 1px solid #c01e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
    transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
section:hover{
    animation: pulse 0.5s ease-in-out;
}
h1{
    color: #c01e1e;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
h2, h3{
    color: #9e9c9c;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #CCCCCC;
    text-align: justify;
}
#contatos strong{
    border: none;
    background: none;
    font-weight: bold;
}
footer{
    background-color: #c01e1e;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
    clear: both;
}
footer p{
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
@media (max-width: 768px){
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-bottom: 20px;
        margin-right: 0;
}
}