:root {
    --cor-primaria: #032b44;
    --cor-secundaria: #c01e1e;
    --cor-terciaria: #9e9c9c;
    --cor-texto-claro: #cccccc;
    --cor-link-hover: #ff4a4a;
  }
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
  }
  
  
  header {
    background-color: var(--cor-secundaria);
    color: #ffffff;
    padding: 1em;
    text-align: center;
  }
  
  
  nav {
    background-color: var(--cor-terciaria);
    padding: 1em 0.5em;
    text-align: center;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
  }
  
  
  nav li {
    transition: transform 0.2s ease-in-out;
  }
  
  
  nav li:hover {
    transform: scale(1.1);
  }
  
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  main {
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em;
    margin: 0 auto;
    max-width: 900px;
  }
  
  
  section {
    background-color: var(--cor-primaria);
    padding: 3em 2em;
    margin: 40px 0;
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 95, 120, 0.867);
    animation: fadeIn 1s ease-in-out;
  }
  
  
  section:hover {
    animation: pulse 0.5s ease-in-out;
  }
  .foto-perfil{
    text-align: center;
    margin-bottom: 20px;
  }
 .foto-perfil img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--cor-secundaria);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 }

  
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  
  
  h1 {
    color: var(--cor-terciaria);
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  h2, h3 {
    color: var(--cor-terciaria);
    margin-bottom: 10px;
  }
  
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--cor-texto-claro);
    text-align: justify;
  }
  
  
  ul li {
    margin-bottom: 1em;
  }
  
  
  #contatos strong {
    font-weight: bold;
    color: var(--cor-terciaria);
  }
  
  
  #contatos a {
    color: var(--cor-secundaria);
    font-weight: lighter;
    text-decoration: underline;
  }
  
  
  #contatos a:hover {
    color: var(--cor-link-hover);
  }
  
  
  footer {
    background-color: var(--cor-secundaria);
    color: #ffffff;
    padding: 1em;
    text-align: center;
  }
  
  
  footer a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
  }
  
  
  footer a:hover {
    color: var(--cor-terciaria);
  }
  
  
  footer p {
    text-align: center;
    margin-bottom: 0;
  }
  
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      gap: 1em;
    }
  }
  